footer {
	width: 100%;
	background-color: #333333;
	overflow: hidden;
	color: white;
	opacity: 0.6;
	position: fixed;
	left:0;
	bottom:0;	
	text-align:center;
}

footer a, footer a:visited {
	color: white;
	text-decoration: none;
}