* {
  font-family: 'Montserrat';
  font-size: 24px;
  text-decoration: none;
  margin: 0;
}

body {
  background-color: #e6e6ed;
}

a:hover {
  text-decoration: underline;
}

p {
  text-align: justify;
}

.page-title {
  background-color: rgba(0, 153, 0, 1);
  box-shadow:3px 3px 3px #cccccc;
  border-radius: 4px;
  padding: 10px;
  margin: auto;
  margin-top: 15px;
  width: 90%;
}

.signup-form {
  width: 90%;
  margin: auto;
  margin-top: 20px;  
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 5px #c7c7c7;
}

fieldset {
  border-style: none;
}

.signup_btn {
  margin-top: 10px;
  margin-left: 18px;
  margin-bottom: 20px;
}

.signup-control {
  display: block;
  margin-top: 3px;
}

.legal-privacy, .legal-privacy a {
  margin-top: 10px;
  font-size: 16px;
}

.social {
  width: 50px;
  margin-bottom: 60px;
}

small {
  font-size: 12px;
}

.descrizione {
  margin: auto;
  margin-top: 13px;
  width: 88%;
}

#social a:hover {
  text-decoration: none;
}

#copyright {
  position: relative;
  bottom: 10px;
  left: 10px;
}

.funzioni .column_item {
  float: left;
  margin-top: 250px;
  width: 33.33%;
}

.img_function {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: 0 2px 5px #c7c7c7;
}

.funzioni::after {
  content: "";
  clear: both;
  display: table;
}

.user_item{
  background-size: cover;
  margin: 2px 4px;
  float: left;
  cursor: pointer;
}

.friend_item_0{
  width: 16px;
  height: 16px;
  background-image:url('./../css/img/add_friend.png');
  background-size: cover;
}

.friend_item_1{
  width: 16px;
  height: 16px;
  background-image:url('./../css/img/remove_friend.png');
  background-size: cover;
}

.stats_item_{
  width: 16px;
  height: 16px;
  background-image:url('./../css/img/statistiche.png');
  background-size: cover;
}

.user_dashboard {
  margin: auto;
  margin-bottom: 30px;
}

.user_list {
  list-style-type: none;
  width: 63%;
  margin:auto;
}

.image_user_item img {
  width: 20px;
}

.admin {
  text-align: center;
  padding-top: 100px;
}

#search {
  width: 60%;
}

.search {
  text-align:center;
  position: sticky;
  top: 20px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 60px;
  z-index:1;
}

.search_icon {
  padding: 6px 20px 6px 18px;
  background-color: rgba(0, 153, 0, 1);
  background-image:url('./../css/img/search.png');
  background-size: 38px;
  text-align:center;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-right: 5px;
}

.song_table {
  border: 0px solid black;
  border-collapse: collapse;
  width: 70%;
  margin: auto;
  margin-bottom: 40px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 5px #c7c7c7;
}

.user_detail::after{
  content: "";
  clear: both;
  display: table;
}

.detail_user_item {
  float: left;
}

.image_user_item{
  float:left;
}

.album_background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed; 
}

.album_info {
  height: 400px;
  width:70%;
  margin: auto;
  background-color: rgba(230, 230, 230, 0.6);
}

.album_img {
  float: left;
  width: 300px;
  border: 3px solid #2a3139;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 50px;
}

.song_exercise {
  padding-top: 50px;
}

.song_body {
  width: 70%;
  min-height: 428px;
  margin: auto;
  padding-bottom:20px;
  margin-bottom: 30px;
  padding-top: 20px;
  background-color: rgba(217, 217, 217, 1);
}

#lyrics {
  width: 50%;
  margin:auto;
  text-align: left;
}

#form_text p {
  display: inline;
}

.two-col {
  padding-top: 50px;
  width: 90%;
  margin: auto;
}

.two-col .column-layout {
  float: left;
}

.column-layout {
  width: 40%;
  min-width: 440px;
}

#admin_container .column-layout {
  padding: 0 4%;
}

.admin_add_song {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 5px #c7c7c7;
  padding: 28px;
}

.admin_add_song h3 {
  margin-bottom: 10px;
  border: 1px;
  border-bottom-style: solid;
}

.admin_add_song label{
  display:block;
  margin-bottom: -30px;
  margin-top: 15px;
  font-weight: bold;
}

.row label {
  display: block;
  margin-top: 10px;
  margin-bottom: -5px;
}

textarea {
  max-width: 90%;
  max-height: 150px;
}

.error, .warning{
  margin-top: 10px;
  text-align:center; 
  background:red;
  margin-bottom: -3px;
  font-weight: bold;
}

.success {
  margin-top: 10px;
  text-align:center; 
  background:rgba(0, 153, 0, 1);
  margin-bottom: -3px;
  font-weight: bold;
}

.error_response{
  margin-top: 20px;
  text-align: center;
}

#noErrorMin, #noErrorMax, #noError {
  color: rgb(0, 153, 0);
}

#errorMin, #errorMax, #error {
  color: red;
}

.back_link {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 28px;
}

.left_arrow{
  background-image:url('./../css/img/left.png');
  background-color: rgba(0, 153, 0, 1);
  background-size: 38px;
  text-align:center;
  background-repeat: no-repeat;
  padding: 6px 20px 6px 18px;
  border-radius: 5px;
  margin-right: 5px;

}

a p {
  display:inline;

}

.right_arrow{
  background-image:url('./../css/img/right.png');
  background-color: rgba(0, 153, 0, 1);
  background-size: 38px;
  text-align:center;
  background-repeat: no-repeat;
  padding: 6px 20px 6px 18px;
  border-radius: 5px;
  margin-right: 5px;
}

.explore_ui {
  margin:auto;
  text-align:center;
}

.explore_button {
  list-style-type:none;
  display: inline;
}
